*.userprefs
packages
.vs
bin
obj
Store/bin
Store/obj
packaging/OSX/Zen.app
packaging/OSX/Zen.dmg
packaging/linux/zen.tar.gz
.DS_Store
.idea
Zulib/fsharp/Extracted
.fake
paket-files/
Zulib/fstar/*.hints
