@if ((bool)@ViewData["Result"])
{
    <div class="form-group">Data successfully committed on the blockchain.</div>
}
else
{
    <div class="form-group">Error committing data on the blockchain</div>
    <div class="form-group">@ViewData["Message"]</div>
}

<button type="button" class="btn btn-primary" onclick="window.location = '/';">Home</button>
