<div class="row titleSection">
  <div class="col-md-9">
		<h1>Oracle Market</h1>
		<h5>Browse all of the oracles you can utilize in your smart contracts</h5></div>
  <div class="col-md-3"><a class='zen-button create-oracle' href="#">Create Oracle</a></div>
</div>


<table class="table zen-table oracle-market">
	<thead>
		<tr>
			<th>Name</th>
			<th>Data Source</th>
			<th>Last Modified</th>
      <th></th>
		</tr>
	</thead>
    <tbody>

		<tr>
			<td><p class="text-left">Zen Protocol Official Oracle</p></td>
			<td>
				<p class="text-left">
					<a class="zen-light-blue-link" href='http://finance.google.com/finance/info?q=GOOG,GOOGL,YHOO,TSLA,INTC,APPL' target='_blank'>finance.google.com</a>
				</p>
			</td>
			<td><p class="text-left">Thursday, June 29, 2017 1:00:11 PM</p></td>
			<td><a class="zen-button zen-grey-button" href='/Oracle'>View</a></td>
		</tr>

		<tr>
			<td><p class="text-left">Bloomberg Tickers</p></td>
			<td>
				<p class="text-left">
					<a class="zen-light-blue-link" href='https://www.bloomberg.com/professional/support/api-library/' target='_blank'>bloomberg.com</a>
				</p>
			</td>
			<td><p class="text-left">Wednesday, June 28, 2017 1:00:11 PM</p></td>
			<td><p class="text-left coming-soon">Coming soon...</p></td>
		</tr>

		<tr>
			<td><p class="text-left">OpenWeatherMap Weather Data API</p></td>
			<td>
				<p class="text-left">
					<a class="zen-light-blue-link" href='https://openweathermap.org/api' target='_blank'>openweathermap.org</a>
				</p>
			</td>
			<td><p class="text-left">Tuesday, June 27, 2017 1:00:11 PM</p></td>
			<td><p class="text-left coming-soon">Coming soon...</p></td>
		</tr>

		<tr>
			<td><p class="text-left">Kraken Crypto Prices</p></td>
			<td>
				<p class="text-left">
					<a class="zen-light-blue-link" href='https://api.kraken.com/0/public/Assets' target='_blank'>api.kraken.com</a>
				</p>
			</td>
			<td><p class="text-left">Monday, June 26, 2017 1:00:11 PM</p></td>
			<td><p class="text-left coming-soon">Coming soon...</p></td>
		</tr>

		<tr>
			<td><p class="text-left">FlightAware Flight Status API</p></td>
			<td>
				<p class="text-left">
					<a class="zen-light-blue-link" href='https://flightaware.com/commercial/flightxml/' target='_blank'>flightaware.com</a>
				</p>
			</td>
			<td><p class="text-left">Sunday, June 25, 2017 1:00:11 PM</p></td>
			<td><p class="text-left coming-soon">Coming soon...</p></td>
		</tr>

		<tr>
			<td><p class="text-left">Poloniex Crypto Prices</p></td>
			<td>
				<p class="text-left">
					<a class="zen-light-blue-link" href='https://poloniex.com/support/api/' target='_blank'>api.poloniex.com</a>
				</p>
			</td>
			<td><p class="text-left">Saterday, June 24, 2017 1:00:11 PM</p></td>
			<td><p class="text-left coming-soon">Coming soon...</p></td>
		</tr>

	</tbody>
</table>
