html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 130px;
  color: #5e5e5e;
  font-family: 'Source Sans Pro', sans-serif;
}

body > .container {
  padding-top: 110px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: #1c1b33;
  color: white;
}

.footer ul {
  display: inline-block;
  padding: 55px 0 0 0;
}
.footer ul.footer-right { float: right; }
.footer ul.footer-right li { margin: 0 0 0 25px; }

.footer ul li {
  display: inline-block;
  margin-right: 25px;
  list-style: none;
}

.footer ul li a {
  color:  #8aa0bf;
  font-size: 15px;
  text-decoration: none;
}
.footer ul li a i.fa {
  font-size: 25px;
}
/*footer ul.footerright{
  margin-right: 150px;
  margin-top: 10px;
}
footer ul.footerright li{
  display: inline;

}*/


.navbar-brand img.navbarLogo {
  height: 52.5px;
  margin-top: 10px;
}

nav.navbar-inverse {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  min-height: 103px;
  margin-bottom: 20px;
  height: 103px;
  background: #1c1b33;
}

.navbar-inverse .navbar-nav>li>a {
  line-height: 73px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #8aa0bf;
  font-weight: 100;
  letter-spacing: 0.2px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li.activeLink>a {
  color: #83d6f3;
  font-weight: 400;
}

.titleSection { margin-bottom: 36px; }

h1 {
  margin-top: 32px;
  color: #5e5e5e;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.6px;
}

h5 {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.5px;
}

thead { background-color: #e2e2e2; }

table.zenTable tr { height: 50px; }

table.zenTable.table>thead>tr>th {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #000000;
}

table.zenTable.table>tbody>tr>td>p { margin: 0; }
table.zenTable.table>tbody>tr>td { padding: 20px; }

tbody tr td, thead, table.zenTable.table>thead>tr>th {
  border: solid 0.5px #d4d4d4;
}

.zen-button {
  padding: 4px 20px;
  border-radius: 2px;
  min-width: 115px;
  margin-right: 10px;
  font-weight: 400;
  background-image: none;
  border: none;
  outline: none;
}

.zen-blue-button {
  background-color: #3da5fc;
  color: white;
}

.zen-white-button {
  background-color: white;
  color: #3da5fc;
  border: solid 1px #3da5fc;
}

.zen-blue-button:hover {
  color: white;
  text-decoration: none;
  background-color: #3291e0;
}

.zen-blue-button:active {
  background-color: #2c7fc3;

}

ol.breadcrumb.zen-breadcrumbs a { font-size: 15px; }
ol.breadcrumb.zen-breadcrumbs {
  background-color: white;
  padding: 0;
  margin-top: 32px;
}

.button-devider { float: left; width: 242px; }
