body {
  padding-top: 103px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-brand img.navbarLogo {
  height: 52.5px;
  margin-top: 10px;
}

nav.navbar-inverse {
  height: 103px;
  background: #1c1b33;
}

.navbar-inverse .navbar-nav>li>a {
  line-height: 73px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #8aa0bf;
  font-weight: 100;
  letter-spacing: 0.2px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #83d6f3;
  font-weight: 400;
}
