<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Wallet">
        <listeners>
          <add name="TraceList"/>
        </listeners>
      </source>
      <source name="NBitcoin.NodeServer">
        <listeners>
          <add name="TraceList"/>
        </listeners>
      </source>
      <source name="NodeTester">
        <listeners>
          <add name="TraceList"/>
        </listeners>
      </source>
      <source name="NodeCore">
        <listeners>
          <add name="TraceList"/>
        </listeners>
      </source>
      <source name="BlockChain.Database">
        <listeners>
          <add name="TraceList"/>
        </listeners>
      </source>
      <source name="BlockChain">
        <listeners>
          <add name="TraceList"/>
        </listeners>
      </source>
      <source name="TestTrace">
        <listeners>
          <add name="TraceList"/>
        </listeners>
      </source>
      <source name="Infrastructure">
        <listeners>
          <add name="ColoredConsole"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Wallet" value="All"/>
      <add name="NBitcoin.NodeServer" value="All"/>
      <add name="NodeTester" value="All"/>
      <add name="NodeCore" value="All"/>
      <add name="BlockChain.Database" value="All"/>
      <add name="BlockChain" value="All"/>
	  <add name="Infrastructure" value="All"/>
    </switches>
    <sharedListeners>
      <!--add name="ColoredConsole" type="Infrastructure.Testing.ColorConsoleTraceListener, Infrastructure.Testing, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null">
      </add-->
      <add name="TraceList" type="Zen.AppTraceListener, Zen, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null">
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
