<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="assetsDir" value="assets" />
    <add key="assetsFile" value="assets.json" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="Infrastructure">
        <listeners>
          <add name="TraceList"/>
        </listeners>
      </source>
      <source name="Wallet">
        <listeners>
          <add name="TraceList"/>
        </listeners>
      </source>
      <source name="Network">
        <listeners>
          <add name="TraceList"/>
        </listeners>
      </source>
      <source name="BlockChain">
        <listeners>
          <add name="TraceList"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Infrastructure" value="All"/>
      <add name="Wallet" value="All"/>
      <add name="Network" value="Information"/>
      <add name="BlockChain" value="All"/>
    </switches>
    <sharedListeners>
      <!--add name="ColoredConsole" type="Infrastructure.Testing.ColorConsoleTraceListener, Infrastructure.Testing, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null">
      </add-->
      <add name="TraceList" type="Zen.AppTraceListener, Zen, Version=0.6.0.0, Culture=neutral, PublicKeyToken=null">
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
