<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.3.0" targetFramework="net461" />
  <package id="FSharp.Control.AsyncSeq" version="2.0.12" targetFramework="net461" />
  <package id="FSharp.Core" version="4.1.17" targetFramework="net451" />
  <package id="FSharpx.Async" version="1.13.2" targetFramework="net461" />
  <package id="FSharpx.Collections" version="1.16.0" targetFramework="net461" />
  <package id="FSharpx.Extras" version="2.2.1" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="10.4.0" targetFramework="net461" />
  <package id="libsodium-net" version="0.10.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net462" />
</packages>