@if ((bool)@ViewData["Success"])
{
    <div class="form-group">Transaction committed successfully.</div>
}
else
{
    <div class="form-group">Error committing transaction:</div>
    <div class="form-group">@ViewData["Message"]</div>
}

<button type="button" class="btn btn-primary" onclick="window.location = '/';">Home</button>
