<?xml version="1.0"?>
<!--
Web.config file for ContractsDiscovery.Web.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <appSettings>
    <add key="node" value="localhost:5555" />
    <add key="oracleSecret" value="xxxx" />		
    <add key="oraclePrivateKey" value="a6PTIZoZsZjLJ8uGPUtp6+PNH0ICyh9mqkevHfMpCGQhY59VOT5fCvLMSgXULY1fiHVwSX2oZ6Ld799/7s0FZw==" />
    <add key="faucetPrivateKey" value="vwR6RJNAhTBauFTC2JxVlwr3hIjPPPbv+9/5Cbko/lB2Whs6H/uSVmQ2LnSoR0KP5x8Lz+uDzqcBK+1HdDQ8qw==" />
	<add key="tickers" value="AABA,AMZN,GOOGL,INTC,TSLA" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>