@using (@Html.BeginForm("Search", "Data", FormMethod.Post))
{
    <div class="form-group">
        <label for="ticker">Ticker:</label>
        <input type="text" class="form-control" id="ticker" name="ticker" placeholder="Ticker">
    </div>

    <button type="submit" class="btn btn-primary" name="doAction">Submit</button>
}