<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsControl" version="1.0.9" targetFramework="net46" />
  <package id="FSharp.Control.AsyncSeq" version="2.0.16" targetFramework="net46" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net46" />
  <package id="FSharpPlus" version="0.0.4" targetFramework="net46" />
  <package id="FSharpx.Async" version="1.13.2" targetFramework="net46" />
  <package id="FSharpx.Collections" version="1.17.0" targetFramework="net46" />
  <package id="FSharpx.Extras" version="2.2.1" targetFramework="net46" />
  <package id="FSPowerPack.Core.Community" version="3.0.0.0" targetFramework="net46" />
</packages>
