<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="Zen" Version="1.0.0.0" Manufacturer="Zen Protocol" IconSourceFile="icon.ico"          
          UpgradeCode="0bbfc86b-1f12-4ddf-a1b4-f8abefaadad8">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkSidebarLicense">
      <bal:WixStandardBootstrapperApplication        
        LicenseUrl=""
        LogoFile="logo.jpg"
        LogoSideFile="sidebar.jpg"
        SuppressOptionsUI="yes"        
        LocalizationFile="HyperlinkTheme.wxl"
        ShowVersion="yes" />       
    </BootstrapperApplicationRef>

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
      <PackageGroupRef Id="NetFx462Web"/>    
      <ExePackage SourceFile="gtk2-runtime-2.24.10-2012-10-10-ash.exe" InstallCommand="/S" PerMachine="yes" Permanent="yes" />
      <MsiPackage SourceFile="gtk-sharp-2.12.44.msi" ForcePerMachine="yes" Permanent="yes" />
      <ExePackage SourceFile="vc_redist.x86.exe" InstallCommand="/S" PerMachine="yes" Permanent="yes" Vital="no" />
			<MsiPackage SourceFile="$(var.ZenPackage.TargetPath)" />
		</Chain>
	</Bundle>
</Wix>
